[submodule "gopath/src/github.com/yath/implifx"]
	path = gopath/src/github.com/yath/implifx
	url = https://github.com/yath/implifx
[submodule "gopath/src/gopkg.in/warnings.v0"]
	path = gopath/src/gopkg.in/warnings.v0
	url = https://gopkg.in/warnings.v0
[submodule "gopath/src/gopkg.in/lifx-tools/controlifx.v1"]
	path = gopath/src/gopkg.in/lifx-tools/controlifx.v1
	url = https://gopkg.in/lifx-tools/controlifx.v1
[submodule "gopath/src/gopkg.in/op/go-logging.v1"]
	path = gopath/src/gopkg.in/op/go-logging.v1
	url = https://gopkg.in/op/go-logging.v1
[submodule "gopath/src/gopkg.in/gcfg.v1"]
	path = gopath/src/gopkg.in/gcfg.v1
	url = https://gopkg.in/gcfg.v1
[submodule "gopath/src/golang.org/x/net"]
	path = gopath/src/golang.org/x/net
	url = https://go.googlesource.com/net
